li {
  display: inline;
}
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#photo {
  border: 5px solid blue;
  border-radius: 15%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* alignement des images*/
.imgglobal {
  padding: 10px;
  margin-left: 300px;
}
/* animation image css*/
.imgglobal#imgimg1 {
  border: 5px solid rgb(46, 47, 48);
  border-radius: 15%;
  margin-right: 50px;
}
h1 {
  color: blue;
  text-align: center;
}
h3 {
  color: rgb(101, 223, 231);
  text-align: center;
}
h4 {
  color: rgb(17, 17, 17);
  text-align: center;
}
body {
  background-color: rgb(195, 250, 245);
}
li a:hover {
  color: red;
}
li a:link {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}
a:hover {
  color: red;
}
/* style de fomre*/
[type="text"],
select {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
[type="email"],
select {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
[type="password"],
select {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
[type="number"],
select {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.logo {
  text-align: center;
}
.icon {
  width: 50px;
  height: 50px;
}
